.nav {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 0;
    margin-bottom: 20px;
    z-index: 1;
}

.isScrolled {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    transition: all .5s ease;
}


.inner {
    display: flex;
    justify-content: flex-end;
    max-width: 1280px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    
    a {
        color: $base-color;
        font-family: 'Open Sans';
        font-size: rem(10px);
        letter-spacing: 2px;
        padding: 15px;
    }
}