/* ------------------------------------ *\
    #CUSTOM FONTS
\* ------------------------------------ */

/**
 * Neuzeit Black
 */
@font-face {
    font-family: 'Neuzeit Black';
    src: url('/static/fonts/neuzit-black.eot'); /* IE9 Compat Modes */
    src: url('/static/fonts/neuzit-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/neuzit-black.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/neuzit-black.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/neuzit-black.svg#df52eea8ee602aa82759eceb3cc0045b') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');