.container {
    padding: 50px 15px;
    font-size: rem(18px);
    text-align: center;
}

.header {
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.info {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 0;
    color: rgba(17, 17, 17, 0.55);
    font-size: rem(18px);
    transition: all 0.3s;

    &:hover {
        color: rgba(17, 17, 17, 1);
    }
}
